<div class="panel panel-default" id="comments" style="height: 300px; overflow-y: scroll;">
    <div class="panel-body">
        <ul class="media-list">
            <li class="media comment">
                <span class="pull-left"><%= image_tag('yoda.ico', class: 'media-object', width: '48px') %></span>
                <div class="media-body">
                    <h4 class="media-heading">Username
                        <small class="text-muted">at 20 March 2015, 19:05:40</small>
                    </h4>
                    <p>test</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="well commentbox">
    <%= form_tag("/chatroom", method: "post") do %>
      <%= label_tag(:comment_label, 'Enter your comment') %>
      <%= text_area(:comment, cols: 20, rows: 40) %>
      <%= submit_tag('Post', class: 'btn btn-default') %>
    <% end %>
</div>
